{% extends 'master.html' %}


{% block title %}
    <title>Sacco Customers</title>
{% endblock %}




{% block content %}
    <div class="container">
        <h2>Sacco Customers</h2>
        <table class="table table-striped">

            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Joining Date</th>
                <th>Delete</th>
                <th>Details</th>
                <th>Update</th>
                <th>Deposit</th>
            </tr>
            {% for customer in data.object_list %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.created_at }}</td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'delete_customers' customer.id %}">Remove</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'customer_details' customer.id %}">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{% url 'update_customer' customer.id %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'deposit' customer.id %}">Deposit</a>
                    </td>
                </tr>
            {% empty %}
                <p>No customers in the sacco</p>
            {% endfor %}

        </table>
        <div class="row justify-content-center">
            <div class="col-sm-2">
                {% if data.has_previous %}
                    <a class="btn btn-outline-info btn-sm" href="?page={{ data.previous_page_number }}"> <<</a>
                {% endif %}
                <span class="mx-3">{{ data.number }}</span>
                {% if data.has_next %}
                    <a class="btn btn-outline-info btn-sm" href="?page={{ data.next_page_number }}"> >></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}